* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*main class section*/
body {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}
.pokedex {
    display: flex;
    align-items: flex-end;
    height: 800px;
    margin: 100px;
    width: 800px;
}

/*left side section*/
.left-container, .right-container {
    border: 3px solid black;
    width: 50%;
}

.right-container {
    border-left: none;
}

.left-container {
    background: #E71D23;
    height: 100%;
    width: calc(50% + 50px);
}



